<html>
    <head>
        <meta charset="utd-8">
    <meta name="viewport" content="width=device-width">
    <title>Responsive web Practice </title>
    <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        
        <header>
            <div class="container">
                <div id="branding">
                    <h1><span class="highlight">Res</span>Web</h1>
                </div>
                <nav>
                <ul>
                    <li class="current"><a href="index.html"> Home</a></li>
                    <li><a href="about.html"> About</a></li>
                    <li><a href="contact.html"> Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section id="showcase">
        <div class="container">
            <h1>First test of Responsive</h1>
            <p>Take your chance while it lasts , You might not have this moment again</p>
            </div>
        
        </section>
        
        <section id="newsletter">
        <div class="container">
            <h1>Subscribe to news letter</h1>
            <form>
                <input type="emeil" placeholder="Enter Email..">
            <button type="submit" class="button">Subscribe</button>
            </form>
            </div>
        </section>
        
        <section id="boxes">
            <div class="container">
            <div class="box">
                <img src="images/Reginaa.png">
                <h3> Marker 1</h3>
                <p>Place the camera in front and see the magic</p>
                </div>
                <div class="box">
                    <img src="images/Remy.png">
                    <h3> Marker 2</h3>
                    <p>Place the camera in front and see the magic</p>
                </div>
                <div class="box">
                    <img src="images/Shae.png">
                    <h3> Marker 3</h3>
                <p>Place the camera in front and see the magic</p>
                </div>
            </div>
        </section>
        
        <footer><p>ResWeb , Copyright &copy; 2018</p></footer>
        
    </body>
</html>